/* User Profile Styles */
.profile-container {
  max-width: 1200px;
  display: block;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.profile-header,
.posts-header {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header{
  display: inline-block;
}

.user-details {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 5px;
}

.icon-button {
  background: none; /* Remove default button background */
  border: none;     /* Remove default button border */
  cursor: pointer;  /* Change cursor to pointer on hover */
  margin-left: 10px; /* Space between text and icon */
  color: #007BFF;   /* Icon color */
  font-size: 1.2rem; /* Icon size */
  padding: 0;
}

.icon-button:hover {
  color: #0056b3; /* Darker color on hover */
}

.icon-container {
  display: flex;
  gap: 15px;
  float: right;
}
