/* User Profile Styles */
.profile-container {
  max-width: 1200px;
  display: block;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.profile-header,
.posts-header {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #333;
}

.user-details {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 5px;
}
